version: '3.4'

networks:
  traefik_proxy:
    external:
      name: traefik_proxy

x-base-no-networks: &base-no-networks
  restart: unless-stopped
  environment:
    - PUID=${PUID}
    - PGID=${PGID}
    - TZ=${TZ}
  volumes:
    - /etc/localtime:/etc/localtime:ro

x-base: &base
  <<: *base-no-networks-for-fail2ban
  networks:
    - default
